<!DOCTYPE html>
<html lang='en'>

<head>
    <base href="../../">
    <meta name="description" content="MathGSA, UCR Math Department"/>
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1%7CNanum+Myeongjo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/main.css"/>
    <script src="assets/email-obfuscator.js"></script>
    <title>MathGSA - UC Riverside</title>
</head>

<body>
<div class="page">

    {{ content }}

    <h3><a href="/">Return to Home Page</a></h3>

    <div class="footer">
        &copy; 2019 MathGSA
        &nbsp;|&nbsp; <a href="https://mathdept.ucr.edu"><span class="ucr-gold">UC</span><span class="ucr-blue">R Math</span></a>
        &nbsp;|&nbsp; <a href="docs/MathGSA-Constitution.pdf">Constitution</a>
    </div>

</div>
</body>
</html>